# Binaries
**/bin/
bin-int/
Intermediates/

# AGE files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
AGE/vendor/VulkanSDK
AGE-Editor/assets/cache
scripts/__pycache__