[submodule "AGE/vendor/spdlog"]
	path = AGE/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "AGE/vendor/GLFW"]
	path = AGE/vendor/GLFW
	url = https://github.com/theCherno/glfw
[submodule "AGE/vendor/imgui"]
	path = AGE/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "AGE/vendor/glm"]
	path = AGE/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "AGE/vendor/yaml-cpp"]
	path = AGE/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "AGE/vendor/ImGuizmo"]
	path = AGE/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
